{% extends 'base.html' %}
{% block content %}
    <section class="jumbotron text-xs-center">
      <div class="container">
        <h1 class="jumbotron-heading">Faker NG</h1>
        <p class="lead text-muted">Faker.ng is a read-only web service for generating Nigerian fake data such as names, addresses, and phone numbers.
</p>
<p>Instructions to get up and running locally can be found on the github repo <a href="https://github.com/binkabir/faker.ng.git" target="_blank">https//github.com/binkabir/faker.ng.git</a>

      <p>
          <a href="#" class="btn btn-primary"><i class="fa fa-download"></i></i> Download</a>
          <a href="#" class="btn btn-secondary">Secondary action</a>
        </p>
      </div>
    </section>

    <main >
      <div class="container-fluid main-content">
        <div class="sidebar"></div>
        <div class="content"></div>
      
      </div>
    </main>

   {% endblock %} 